.idea/
*.iml
*.iws
*.ipr
out/
.navigation/

.gradle/
build/
*/build/
captured_screenshots/

local.properties
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.dex

.kotlin/
composeApp/build/
androidApp/build/
designsystem/build/

.DS_Store
Thumbs.db
*.swp

*.log
