# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/
.navigation/

# Gradle
.gradle/
build/
*/build/
captured_screenshots/

# Android
local.properties
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.dex

# Kotlin Multiplatform
.kotlin/
composeApp/build/
androidApp/build/
designsystem/build/

# Firebase & Google Services (Opcional: Si quieres mantener tus llaves privadas fuera de GitHub)
# google-services.json

# OS Specific
.DS_Store
Thumbs.db
*.swp

# Logs
*.log
